* {
  margin: 0;
  padding: 0;
}

#grilla {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-rows: 300px 70px 80%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "nav"
    "main";
}

.indexgrid1 {
  grid-area: title;
  /*border: 3px solid red;*/
}

.indexgrid2 {
  position: sticky;
  top: 0px;
  z-index: 9;
  grid-area: nav;
  /*border: 3px solid red;*/
}

.indexgrid3 {
  grid-area: main;
  /*border: 3px solid red;*/
}

body {
  background-image: url("../image/Constelacion.jpg");
  background-size: contain;
}

a {
  text-decoration: none;
  color: white;
}

.logoytitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoconste {
  width: 200px;
  height: 200px;
}

h1 {
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Gill Sans MT";
  color: white;
  background-color: black;
  font-size: 90px;
  height: 150px;
  width: 600px;
  margin-top: 60px;
  margin-bottom: 70px;
}

span.encabezadoPrincipalSpan {
  color: blueviolet;
  font-family: "Gill Sans MT";
}

header {
  z-index: 9;
}

#encabezado {
  background-color: black;
  font-size: 30px;
}

header ul {
  font-family: "Gill Sans MT";
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  align-items: center;
}

#encabezado {
  position: sticky;
  top: 0px;
}

header .barradenavegacion a {
  color: blueviolet;
  transition: 1s;
  padding: 5px;
  border: 3px solid white;
}

.barradenavegacion li {
  margin: 5px;
}

.barradenavegacion a:hover {
  color: red;
  font-size: 40px;
  transition: 0.5s;
}

.secinicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#carouselExampleIndicators {
  max-width: 600px;
  margin: 60px;
}

h2 {
  font-family: "Gill Sans MT";
}

h3 {
  background-color: blueviolet;
  display: inline;
}

.bio {
  font-family: calibri;
  font-size: 30px;
  margin: 50px;
  padding: 20px;
  background-color: white;
  opacity: 80%;
  border-radius: 20px;
  width: 1000px;
  height: 100%;
  order: -1;
}

p {
  font-family: sans-serif;
  padding: 20px;
  background-color: white;
  display: inline;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  width: 300px;
  height: 130px;
  order: -1;
}

.videoconste {
  padding: 10px;
  border: 30px solid blueviolet;
  margin: 60px;
  border-radius: 20px;
}

#grillaintegrantes {
  display: grid;
  grid-template-rows: 250px 750px 750px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav nav"
    "fer juan"
    "lihue gonza";
}

.intgrid1 {
  grid-area: nav;
}

.intgrid2 {
  grid-area: fer;
}

.intgrid3 {
  grid-area: juan;
}

.intgrid4 {
  grid-area: lihue;
}

.intgrid5 {
  grid-area: gonza;
}

.intgrid1 h1 {
  font-size: 70px;
  width: 400px;
  height: 100px;
  position: relative;
  margin-bottom: 20px;
}

/*#bg {
border: 5px solid red;
}*/

.pint {
  font-size: 15px;
  display: flex;
  width: 460px;
  height: auto;
  margin-bottom: 10px;
  opacity: 90%;
}

.nombreint {
  display: block;
  width: 300px;
  height: 40px;
  color: blueviolet;
  font-family: "Gill Sans MT";
  font-size: 30px;
  position: relative;
  left: 80px;
}

img {
  border-radius: 10%;
}

.logowpp {
  width: 100px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.bio a {
  color: blueviolet;
}

.maincalend h1 {
  font-size: 70px;
  width: 400px;
  height: 100px;
  position: relative;
  left: 100px;
  margin-bottom: 20px;
}

.maincalend iframe {
  background-color: white;
  opacity: 80%;
}

.mainlan h1 {
  font-size: 70px;
  width: 400px;
  height: 100px;
  position: relative;
  left: 100px;
  margin-bottom: 20px;
  font-family: "Gill Sans MT";;
}

.maincont h1 {
  font-size: 70px;
  width: 400px;
  height: 100px;
  position: relative;
  left: 100px;
  margin-bottom: 20px;
}

/*Mobile*/
@media only screen and (max-width: 500px) {
  #grilla {
    grid-template-rows: 100px 160px 1200px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "nav"
      "main";
  }

  h1 {
    font-size: 40px;
    height: 60px;
    width: 240px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .logoconste {
    width: 90px;
    height: 90px;
  }

  #encabezado {
    font-size: 14px;
  }

  .indexgrid2 {
    position: initial;
  } 
  
  header .barradenavegacion a {
    padding-inline: 70px;
    margin-right: 20px;
  }

  .barradenavegacion a:hover {
    color: red;
    font-size: 14px;
  }

  .bio {
    height: auto;
    width: 370px;
    font-size: 15px;
    margin: 10px 5px 10px 10px;
    border: 5px solid blueviolet;
    opacity: 90%;
  }

  #carouselExampleIndicators {
    max-width: 400px;
    margin: 10px;
  }

  .videoconste {
    width: 100%;
    border: 10px solid blueviolet;
    padding: 5px;
  }

  .intgrid1 h1 {
    font-size: 40px;
    width: 300px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: red;
  }

  #grillaintegrantes {
    display: grid;
    grid-template-rows: 260px 750px 750px;
    grid-template-columns: 500px;
    grid-template-areas:
      "nav"
      "fer"
      "juan"
      "lihue"
      "gonza";
  }

  .intgrid1 ul {
   height: 160px;
   margin-left: 30px;
  }

  #grillaintegrantes img {
    width: auto;
  }

  .pint {
    width: auto;
  }

  .logowpp {
width: 70px;
}

}