// comentario de una sola linea

/*comentario Multilinea
NESTING:

header {
    background-color: red;
  
    nav {
      background-color: yellow;
  
      ul {
          display: flex;
        list-style: none;
        justify-content: space-between;
  
        li {
          // tanto la clase como el id de un elemento se las escriben en su padre
          .spupi {color: green;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  

PARTIALS: sub archivos de css
se nombran empezando con "_" y se importan en el archivo principal 
@import "header";
quedando en el archivo proncipal nada mas que los imports y algunas propiedades de estilos muy generales como el reseteo de margin y padding por ejemplo
*margin: 0



VARIABLES: algo asi como mini clases que almacenan valores, signo dolar $ y valor
$coso: blueviolet



EXTEND: un elemento hereda las propiedades de otro, tipo un sidechain seria
a {
@extend .clase 
}

MIXIN: 
@mixin estilos-texto {
font-size:
font-family:
etc
}

se alude luego escribiendo @include y el nombre del mixin

si se combinaran mixin y variables se ecribe asi:

@mixin estilos-texto ($size, $family)

p {
    @include estilos-texto(10px,arial) 
    }

osea: @include "nombre del mixin"(especificacion del valor) */

//COSAS GENERALES
* {
  margin: 0;
  padding: 0;
}

@keyframes gradiantemulticolor {
  0% {
    color: blueviolet;
  }

  20% {
    color: blue;
  }

  40% {
    color: green;
  }

  60% {
    color: orange;
  }

  80% {
    color: red;
  }

  100% {
    color: blueviolet;
  }
}

body {
  background-image: url("../image/Constelacion.jpg");
  background-size: contain;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Gill Sans MT";
  color: white;
  background: linear-gradient(to left, blueviolet, black, black);
  font-size: 90px;
  height: 150px;
  width: 600px;
  margin-top: 60px;
  margin-bottom: 70px;
}

header {
  z-index: 9;
}

.barradenavegacion {
  a {
    color: blueviolet;
    transition: 1s;
    padding: 5px;
    border: 3px solid white;

    &:hover {
      color: red;
      font-size: 40px;
      transition: 0, 5s;
    }
  }

  ul {
    font-family: "Gill Sans MT";
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

ul {
  align-items: center;
}

/*#encabezado {
  position: sticky;
  top: 0px;
}*/

/*redundante?*/
.barradenavegacion li {
  margin: 5px;
}

h2 {
  font-family: "Gill Sans MT";
}

h3 {
  background-color: blueviolet;
  display: inline;
}

p {
  font-family: sans-serif;
  padding: 20px;
  background-color: white;
  display: inline;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  width: 300px;
  height: 130px;
  order: -1;
}

img {
  border-radius: 10%;
}

.logowpp {
  width: 100px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

//INDEX
#grilla {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-rows: 300px 70px 80%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "nav"
    "main";

  .indexgrid1 {
    grid-area: title;
    /*border: 3px solid red;*/

    .logoytitulo {
      display: flex;
      justify-content: center;
      align-items: center;

      .logoconste {
        width: 200px;
        height: 200px;
      }
      span.encabezadoPrincipalSpan {
        animation-name: gradiantemulticolor;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 20s;
        /*color: blueviolet;
        font-family: "Gill Sans MT";*/
      }
    }
  }
  .indexgrid2 {
    position: sticky;
    top: 0px;
    z-index: 9;
    grid-area: nav;
    /*border: 3px solid red;*/

    #encabezado {
      background-color: black;
      font-size: 30px;

      .barradenavegacion {
        li {
          margin: 5px;
        }
      }
    }
  }
  main {
    .indexgrid3 {
      grid-area: main;
      /*border: 3px solid red;*/

      .secinicio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        #carouselExampleIndicators {
          max-width: 600px;
          margin: 60px;
        }

        .bio {
          font-family: calibri;
          font-size: 30px;
          margin: 50px;
          padding: 20px;
          background-color: white;
          box-shadow: 10px 10px 5px 0px black;
          opacity: 80%;
          border-radius: 20px;
          width: 1000px;
          height: 100%;
          order: -1;

          a {
            color: blueviolet;
          }
        }

        .videoconste {
          padding: 10px;
          border: 30px solid blueviolet;
          margin: 60px;
          border-radius: 20px;
        }
      }
    }
  }
}

//INTEGRANTES
#grillaintegrantes {
  display: grid;
  grid-template-rows: 250px 750px 750px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav nav"
    "fer juan"
    "lihue gonza";

  .intgrid1 {
    grid-area: nav;

    h1 {
      font-size: 70px;
      width: 400px;
      height: 100px;
      position: relative;
      left: 100px;
      margin-bottom: 20px;
    }

    #encabezado {
      background-color: black;
      font-size: 30px;

      .barradenavegacion /*redundante?*/ {
      }
    }
  }
  .intgrid2 {
    grid-area: fer;

    .nombreint {
      display: block;
      width: 300px;
      height: 40px;
      color: blueviolet;
      font-family: "Gill Sans MT";
      font-size: 30px;
      position: relative;
      left: 80px;
    }

    .pint {
      font-size: 15px;
      display: flex;
      width: 460px;
      height: auto;
      margin-bottom: 10px;
      opacity: 90%;
    }
  }

  .intgrid3 {
    grid-area: juan;

    .nombreint {
      display: block;
      width: 300px;
      height: 40px;
      color: blueviolet;
      font-family: "Gill Sans MT";
      font-size: 30px;
      position: relative;
      left: 80px;
    }

    .pint {
      font-size: 15px;
      display: flex;
      width: 460px;
      height: auto;
      margin-bottom: 10px;
      opacity: 90%;
    }
  }

  .intgrid4 {
    grid-area: lihue;

    .nombreint {
      display: block;
      width: 300px;
      height: 40px;
      color: blueviolet;
      font-family: "Gill Sans MT";
      font-size: 30px;
      position: relative;
      left: 80px;
    }

    .pint {
      font-size: 15px;
      display: flex;
      width: 460px;
      height: auto;
      margin-bottom: 10px;
      opacity: 90%;
    }
  }

  .intgrid5 {
    grid-area: gonza;

    .nombreint {
      display: block;
      width: 300px;
      height: 40px;
      color: blueviolet;
      font-family: "Gill Sans MT";
      font-size: 30px;
      position: relative;
      left: 80px;
    }

    .pint {
      font-size: 15px;
      display: flex;
      width: 460px;
      height: auto;
      margin-bottom: 10px;
      opacity: 90%;
    }
  }
}

//CALENDARIO
.maincalend h1 {
  font-size: 70px;
  width: 400px;
  height: 100px;
  position: relative;
  left: 100px;
  margin-bottom: 20px;
}
#encabezado {
  background-color: black;
  font-size: 30px;

  .barradenavegacion {
  }
}

.maincalend iframe {
  background-color: white;
  opacity: 80%;
}

//LANZAMIENTOS
.mainlan h1 {
  font-size: 70px;
  width: 500px;
  height: 100px;
  position: relative;
  left: 100px;
  margin-bottom: 20px;
  font-family: "Gill Sans MT";
}
#encabezado {
  background-color: black;
  font-size: 30px;

  .barradenavegacion {
  }
}

.spotify {
  display: flex;
  flex-wrap: wrap;
}

//CONTACTO
.maincont h1 {
  font-size: 70px;
  width: 500px;
  height: 100px;
  position: relative;
  left: 100px;
  margin-bottom: 20px;
}
#encabezado {
  background-color: black;
  font-size: 30px;

  .barradenavegacion {
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 400px;
  .email {
    margin: 20px;
  }
  p {
    margin-right: 200px;
    margin-left: 300px;
    font-size: 40px;
    font-family: "Gill Sans MT";
    height: auto;
    width: auto;
  }
}

//QUERIES

/*Mobile*/
@media only screen and (max-width: 500px) {
  //INDEX
  #grilla {
    grid-template-rows: 200px 400px 2000px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "nav"
      "main";

    .indexgrid1 {
      border: solid 3px red;
      h1 {
        font-size: 70px;
        height: 100px;
        width: 400px;
        margin-top: 0;
        margin-bottom: 0;
      }

      .logoconste {
        width: 90px;
        height: 90px;
      }
    }

    .indexgrid2 {
      border: solid 3px red;

      position: initial;
      .barradenavegacion {
        margin-top: 50px;
        a {
          padding-inline: 200px;
          margin-right: 20px;

          &:hover {
            color: red;
            font-size: 14px;
          }
        }
      }
    }

    .indexgrid3 {
      border: solid 3px red;

      .secinicio {
        .bio {
          height: auto;
          width: 370px;
          font-size: 50px;
          margin: 10px 5px 10px 10px;
          border: 5px solid blueviolet;
        }
      }

      #carouselExampleIndicators {
        max-width: 400px;
        margin: 10px;
      }

      .videoconste {
        width: 100%;
        border: 10px solid blueviolet;
        padding: 5px;
      }
    }
  }

  //INTEGRANTES
  #grillaintegrantes {
    display: grid;
    grid-template-rows: 360px 750px 750px;
    grid-template-columns: 500px;
    grid-template-areas:
      "nav"
      "fer"
      "juan"
      "lihue"
      "gonza";

    .intgrid1 {
      /*border: solid 3px red;*/
      position: initial;

      .barradenavegacion {
        margin-left: 0px;
        margin-top: 50px;
        width: 500px;
        height: 200px;

        li {
          margin: 0px;

          a {
            padding-inline: 100px;
            font-size: 14px;
            border: solid 1px white;

            &:hover {
              color: red;
              font-size: 14px;
            }
          }
        }
      }
      h1 {
        font-size: 40px;
        width: 300px;
        height: 60px;
        position: initial;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
    img {
      width: auto;
    }
    .pint {
      width: auto;
    }
  }
  .logowpp {
    width: 70px;
  }
}

/*ANIMACIONES
*/
