
/*EXTEND: un elemento hereda las propiedades de otro, tipo un sidechain seria
a {
@extend .clase 
}*/



//PRINCIPAL
$violeta: blueviolet;
@import "partials/index";
@import "partials/integrantes";
@import "partials/calendario";
@import "partials/lanzamientos";
@import "partials/contactanos";



* {
  margin: 0;
  padding: 0;
}



@keyframes gradiantemulticolor {
  0% {
    color: blueviolet;
  }

  20% {
    color: blue;
  }

  40% {
    color: green;
  }

  60% {
    color: orange;
  }

  80% {
    color: red;
  }

  100% {
    color: blueviolet;
  }
}

body {
  background-image: url("../image/Constelacion.jpg");
  background-size: contain;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Gill Sans MT";
  color: white;
  background: linear-gradient(to left, blueviolet, black, black);
  font-size: 90px;
  height: 150px;
  width: 600px;
  margin-top: 60px;
  margin-bottom: 70px;
}

header {
  z-index: 9;
}

.barradenavegacion {
  a {
    color: $violeta;
    transition: 1s;
    padding: 5px;
    border: 3px solid white;

    &:hover {
      color: red;
      font-size: 40px;
      transition: 0, 5s;
    }
  }

  ul {
    font-family: "Gill Sans MT";
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

ul {
  align-items: center;
}


/*redundante?*/
.barradenavegacion li {
  margin: 5px;
}

h2 {
  font-family: "Gill Sans MT";
}

h3 {
  color: $violeta;
  display: inline;
}

p {
  font-family: sans-serif;
  padding: 20px;
  background-color: white;
  display: inline;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  width: 300px;
  height: 130px;
  order: -1;
}

img {
  border-radius: 10%;
}

.logowpp {
  width: 100px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}


//QUERIES

/*Mobile*/
@media only screen and (max-width: 500px) {
  //INDEX
  #grilla {
    grid-template-rows: 200px 600px 2000px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "nav"
      "main";

    .indexgrid1 {
      h1 {
        font-size: 70px;
        height: 100px;
        width: 400px;
        margin-top: 0;
        margin-bottom: 0;
      }

      .logoconste {
        width: 90px;
        height: 90px;
      }
    }

    .indexgrid2 {
      position: initial;
      #encabezado {
        height: 400px;

        .barradenavegacion {
          margin-top: 50px;
          display: flex;

          ul {
            justify-content: center;
            margin-left: 160px;
            margin-top: 20px;

            a {
              padding-inline: 200px;
              margin-right: 20px;
              font-size: 40px;
              border: 2px solid white;

              &:hover {
                color: red;
              }
            }
          }
        }
      }
    }

    .indexgrid3 {
      .secinicio {
        .bio {
          height: auto;
          width: 370px;
          font-size: 50px;
          margin: 10px 5px 10px 10px;
          
        }
      }

      .videoconste {
        width: 100%;
        color: $violeta;
        padding: 5px;
      }
    }
  }

  //INTEGRANTES
  #grillaintegrantes {
    display: grid;
    grid-template-rows: 360px 750px 750px;
    grid-template-columns: 500px;
    grid-template-areas:
      "nav"
      "fer"
      "juan"
      "lihue"
      "gonza";

    .intgrid1 {
          position: initial;

      .barradenavegacion {
        margin-left: 0px;
        margin-top: 50px;
        width: 500px;
        height: 200px;

        li {
          margin: 0px;

          a {
            padding-inline: 100px;
            font-size: 14px;
            border: solid 1px white;

            &:hover {
              color: red;
              font-size: 14px;
            }
          }
        }
      }
      h1 {
        font-size: 40px;
        width: 300px;
        height: 60px;
        position: initial;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
    img {
      width: auto;
    }
    .pint {
      width: auto;
    }
  }

  /*CALENDARIO*/
  .maincalend {
    h1 {
      font-size: 40px;
      width: 300px;
      height: 60px;
      position: initial;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .barradenavegacion {
    margin-left: 0px;
    margin-top: 50px;
    width: 500px;
    height: 200px;

    li {
      margin: 0px;

      a {
        padding-inline: 100px;
        font-size: 14px;
        border: solid 1px white;

        &:hover {
          color: red;
          font-size: 14px;
        }
      }
    }
  }

  /*LANZAMIENTOS*/

  .mainlan {
    h1 {
      font-size: 40px;
      width: 300px;
      height: 60px;
      position: initial;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .barradenavegacion {
    margin-left: 0px;
    margin-top: 50px;
    width: 500px;
    height: 200px;

    li {
      margin: 0px;

      a {
        padding-inline: 100px;
        font-size: 14px;
        border: solid 1px white;

        &:hover {
          color: red;
          font-size: 14px;
        }
      }
    }
  }

  /*CONTACTANOS*/
  .maincont {
    h1 {
      font-size: 40px;
      width: 300px;
      height: 60px;
      position: initial;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .barradenavegacion {
    margin-left: 0px;
    margin-top: 50px;
    width: 500px;
    height: 200px;

    li {
      margin: 0px;

      a {
        padding-inline: 100px;
        font-size: 14px;
        border: solid 1px white;

        &:hover {
          color: red;
          font-size: 14px;
        }
      }
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: initial;

    p {
      margin: 0;
      font-size: 30px;
      font-family: "Gill Sans MT";
      height: auto;
      width: auto;
      margin-left: 110px;
    }
    .email {
      .inputemail {
        width: 430px;
      }
    }

    textarea {
      margin: 20px;
      width: 460px;
      height: 300px;
    }
  }

  .logowpp {
    width: 70px;
  }
}
